.dice {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100px;
}

.conteudo {
    margin-top: 20px;
}

.containerWinner {
    position: absolute;
    display: flex;
    width: 300px;
    height: 300px;
    top: 50vh;
    left: auto;
}

.hide {
    display: none;
}